<%- include('./partials/header') %>

  <div class="container">
    <div class="container pt-5">
      <div class="p-5  text-center">
        <h1>Master Matrix Community</h1>
        <p>There are 4 questions</p>
  <a class="nav-link" href="/new-post"><button>Add Question</button></a>

      </div>
    </div>
  </div>
 
  <%- include('./partials/footer') %>